<div
  ...attributes
  {{did-insert this.createPlayer}}
  {{will-destroy this.remove}}
  {{on 'keydown' this.blockPausing capture='true'}}
>
  {{#if @options}}
    <div class="ovenplayer__instance-wrapper"></div>
  {{/if}}
</div>