@use 'imports';
@use 'tepache-mode-credits';
@import "ember-bootstrap/bootstrap";
@import 'bootstrap-backport';


:root {
    --bs-body-font-size: 20px;
    --disconnected-color: white;
    --connected-color: rgb(251, 190, 190);
}



/* Global style covering only route level */
html, body {
    --bs-body-bg: #4F43AE;
}

.tepache-mode-base {
    color: #FFFFFF;
}

.tepache-mode-base__icon {
    height: 60px;
}

.tepache-mode-base__icon--live {
    height: 40px;
}

.tepache-mode-404 {
    color: #FFFFFF;
}

.tepache-mode-construction {
    color: #FFFFFF;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: 200px;
    grid-template-areas:
      ". a a ."
      ". a a ."
      ". a a .";
}

.tepache-mode-construction__message {
    margin-top: 200px;
    grid-area: a;
    align-self: center;
    justify-self: center;
}

.tepache-mode-construction__content {
    margin-top: 20px;
    height: 200px;
    resize: both;
    overflow: auto;
}

.tepache-mode-construction__image {
    height: inherit;
 }

.tepache-mode-credits__artist-profile-image {
    border-radius: 2px;
    max-height: 100px;
}

.ovenplayer__load-cover {

}

.ovenplayer__load-cover--visible {
    background-color: red;
}

.tiny {
    font-size: 0.5em;
}