@use 'imports';
@use 'tepache-mode-credits';
@use 'text';
@use 'overrides';
@import "ember-bootstrap/bootstrap";
@import 'bootstrap-backport';
@import 'bootstrap-icons';

:root {
    --bs-dark-rgb: 33, 37, 41;
    --bs-body-font-size: 20px;
    --disconnected-color: white;
    --connected-color: rgb(251, 190, 190);
}

/* Global style covering only route level */
html {
    height: 100%;
    --bs-body-bg: #ffffff;
}

body {
    height: 100%;
    min-height: 100%;
    padding-bottom: 60px;
}

.tepache-mode {
    height: 100%;
}

.tepache-mode-base {
    color: #FFFFFF;
    --bs-border-color: rgba(0, 0, 0, 0.5);
}

.tepache-mode-base__icon {
    height: 60px;
}

@include media-breakpoint-down(md) {
    .tepache-mode-base__icon {
        height: 50px;
    }    
}

.tepache-mode-base__icon--live {
    height: 40px;
}

.tepache-mode-404 {
    color: #FFFFFF;
}

.tepache-mode-credits__artist-profile-image {
    border-radius: 2px;
    max-height: 100px;
}

.ovenplayer__load-cover {

}

.ovenplayer__load-cover--visible {
    background-color: red;
}

.tiny {
    font-size: 0.5em;
}