// Follow up with https://github.com/mikkopaderes/ember-cloud-firestore-adapter/pull/195
.firebase-emulator-warning {
    top: 0;
    height: 30px;
    width: 200px !important;
    overflow: hidden;
  }