<div class="bg-light d-flex flex-column justify-content-center h-100">
  <div class="mx-auto d-flex row">
    <img
      class="tepache-loading-screen__image col-auto"
      alt="blank video game cartridge"
      src="/cartridge.png"
      loading="lazy"
    />
  </div>
</div>