{{#if this.errorAlert.message}}
  <div
    class="pt-2 alert alert-danger alert-dismissible fade show fixed-top"
    role="alert"
  >
    <span>
      {{this.errorAlert.message}}
    </span>
    <BsButton
      @size="lg"
      @type="danger"
      @outline={{true}}
      class="close"
      aria-label="Close"
      {{on 'click' this.dismiss}}
    >
      <span aria-hidden="true">
        ×
      </span>
    </BsButton>
  </div>
{{/if}}