{{#each @gameList as |game|}}
  <div class="card mt-4">
    <div class="card-body">
      <h5 class="card-title">
        {{game.title}}
      </h5>
      <p class="card-text">
        {{game.description}}
      </p>
      <LinkTo
        @route="authenticated.base.game"
        @model={{game.id}}
        class="btn btn-primary"
      >
        Details
      </LinkTo>
    </div>
  </div>
{{/each}}