<div class="input-group">
  <Input
    @type="text"
    maxlength="120"
    @value={{this.messageText}}
    class="text-light bg-dark form-control tepache-chat-input__large-input"
    placeholder="Tell me about it"
    aria-label="Tell me about it"
    aria-describedby="button-message"
    {{on 'keyup' this.handleEnter}}
  />
</div>