<div class="tepache-game" ...attributes>
  <div class="container bg-white p-4">
    <div class="tepache-game__jumbotron jumbotron jumbotron-fluid">
      <TepacheThumbnail @thumbnail={{@logo}} />
      <h1 class="display-4">
        {{@title}}
      </h1>
      <p class="lead mt-1">
        {{@description}}
      </p>
    </div>
  </div>
</div>