<div class="bg-white p-4 shadow-lg">
  <BsForm
    @formLayout="horizontal"
    @model={{this.playerSessionModel}}
    @onSubmit={{this.submit}} as |form|
  >
    <form.element
      @size="lg"
      @controlType="text"
      @label="Name"
      @property="name" as |el|
    >
      <el.control placeholder="Anonymous" />
    </form.element>
    <form.submitButton @type="primary" @size="lg">
      ENTER THE ROOM
    </form.submitButton>
  </BsForm>
</div>