<div class="bg-white p-4 shadow-lg">
  {{#with
    (changeset
      this.playerSessionModel this.playerSessionValidations
    ) as |changesetObj|
  }}
    <BsForm
      @formLayout="horizontal"
      @model={{changesetObj}}
      @onSubmit={{fn this.submitToEnterRoom changesetObj}} as |form|
    >
      <form.element
        @size="lg"
        @controlType="text"
        @label="Enter a name for chat"
        @property="name" as |el|
      >
        <el.control maxlength="36" placeholder="Billiam Myboy" />
      </form.element>
      <form.submitButton
        class="mt-1"
        disabled={{changesetObj.isInvalid}}
        @size="lg"
      >
        PLAY WITH NAME
      </form.submitButton>
      <BsButton
        class="mt-1"
        @size="lg"
        @type="secondary"
        type="submit"
        {{on 'click' this.goAnonymous}}
      >
        JUST GO ANONYMOUS
      </BsButton>
    </BsForm>
  {{/with}}
</div>