<div class="tepache-mode-coming-soon" ...attributes>
    <h1 class="tepache-mode-coming-soon__title">Coming Soon</h1>
    <LinkTo @route="construction">
        <img class="tepache-mode-coming-soon__image" alt="painting of rotting pineapple character" src="its-tepache-bb.png" />
    </LinkTo>
</div>