<div
  class="tepache-game-client-controller"
  {{on 'mousedown' this.handleMouseDown}}
  {{on 'mouseup' this.handleMouseUp}}
>
  {{inline-svg
    'controller/stacked-controller'
    class='tepache-game-client-controller__svg'
  }}
</div>