<div class="jumbotron text-white p-4 text-center">
  <h2 class="display-2">
    MAGWEST 2022
  </h2>
  <p class="lead">
    Here in San Jose August 19 - 21st
  </p>
  <div class="mt-4">
    <div class="d-inline mx-auto">
      {{#if this.isDisabled}}
        <BsTooltip @placement="top">
          Disabled until MagWest
        </BsTooltip>
      {{/if}}
      <BsButton
        @type="primary"
        @size="lg"
        disabled={{this.isDisabled}}
        @onClick={{this.transitionToMagwest}}
      >
        PLAY
      </BsButton>
    </div>
  </div>
</div>