<div
  class="tepache-error-screen bg-light d-flex flex-column justify-content-center h-100"
>
  <div class="mx-auto d-flex row">
    <div class="col-12 mb-4">
      <h1 class="navbar-brand">
        Tepache Mode
      </h1>
    </div>
    <div class="col-auto me-4">
      <h2 class="display-1 mb-2">
        500
      </h2>
      <p>
        Something definitely broke.
        <span class="text-muted">
          Couldn't say what.
        </span>
      </p>
    </div>
    <img
      class="tepache-error-screen__image col-auto"
      alt="melting pineapple"
      src="/pineapple500sized.png"
    />
    <div class="col-12 align-self-end">
      <a href="/" class="btn btn-primary">
        Try a reload
      </a>
    </div>
  </div>
</div>