<div class="card">
  <div class="card-header">
    Players for session
  </div>
  <div class="card-body">
    <h4 class="card-text">
      {{@playerSessionCollection.length}}
    </h4>
  </div>
</div>