<div class="jumbotron text-white p-4 text-center">
  <h2 class="display-2">
    <del>
      MAGWEST 2022
    </del>
  </h2>
  <p class="lead">
    That's all folks! Thanks for playing!!
  </p>
  <div class="mt-4">
    <div class="d-inline mx-auto">
      {{#if this.isDisabled}}
        <BsTooltip @placement="top">
          Reopening August 22nd
        </BsTooltip>
      {{/if}}
      <BsButton
        @type="primary"
        @size="lg"
        disabled={{this.isDisabled}}
        @onClick={{this.transitionToMagwest}}
      >
        LET'S GO ANYWAY
      </BsButton>
    </div>
  </div>
</div>