<ul
  style="color: {{@textColor}}"
  class="tepache-live-screen__chat list-unstyled mb-1"
  ...attributes
>
  {{#each @logs as |log|}}
    <li
      class="text-truncate text-right align-right mb-1
        {{if (eq log.referenceUrn @playerSessionModel.id) 'text-success'}}

        {{if log.secret 'text-muted'}}"
    >
      {{log.message}}
    </li>
  {{/each}}
</ul>