<div ...attributes>
  {{#if @thumbnail}}
    {{#if this.imageUrl.isResolved}}
      <img
        src={{this.imageUrl.value}}
        alt="..."
        loading="lazy"
        class="tepache-thumbnail__image img-thumbnail"
      />
    {{/if}}
    {{#if this.imageUrl.isPending}}
      <div class="tepache-thumbnail__image img-thumbnail">
        <div class="spinner-grow spinner-grow-lg" role="status"></div>
      </div>
    {{/if}}
  {{else}}
    <img
      class="tepache-thumbnail__image img-thumbnail tepache-thumbnail__image--ghost"
      src="/its-tepache-bb.png"
      alt="Pineapple character"
    />
  {{/if}}
</div>