{{page-title 'Magwest'}}
<div class="container-fluid justify-content-center mt-5">
  <TepachePlayerEnterForm
    @playerSessionModel={{@model.playerSession}}
    @gameSessionModel={{@model.gameSession}}
    @onSubmit={{this.submit}}
  />
</div>