{{page-title 'Live'}}
<div class="container justify-content-center">
  <TepacheLiveScreen
    @gameSessionModel={{@model.gameSession}}
    @playerSessionModel={{@model.playerSession}}
    @ovenPlayerConfig={{@model.ovenPlayerConfig}}
  />
</div>