{{page-title 'Live'}}
<div class="container justify-content-center">
  {{!-- <TepacheGameServerController
    class="w-100"
    @pressedState={{this.pressedState}}
  />
  <TepacheGameClientController
    class="w-25 h-25"
    @pressedState={{this.pressedState}}
  /> --}}
  {{!-- <OvenPlayer @options={{@model}} /> --}}
</div>