{{page-title 'Live'}}
<div class="container justify-content-center">
  <TepacheGameServerController
    class="w-100"
    @pressedState={{this.pressedState}}
  />
  {{!-- <OvenPlayer @options={{@model}} /> --}}
</div>