.tepache-mode-coming-soon {
    text-align: center;
}

.tepache-mode-coming-soon__title {
    font-size: 3em;
    font-family: 'Lobster', cursive;
}

.tepache-mode-coming-soon__image {
    width: 80%;
}