
.tepache-game-server-controller__wrapper {
    position: relative;
    width: 100%;
}

.tepache-game-server-controller__image {
	filter: hue-rotate(90deg);
    height: inherit;
    width: inherit;
    position: absolute;
    top: 0;
    left: 0;
	transform: scale(1);
	transition: filter 1s ease-out;
}

.tepache-game-server-controller__image--base {
	position: relative;
}

.tepache-game-server-controller__image--invisible {
	opacity: 0;
}

.tepache-game-server-controller__wrapper {
	filter: grayscale(100%);
	transition: filter 0.5s ease-in, transform 0.5s ease-out;
}

.tepache-game-server-controller__wrapper--active {
	filter: grayscale(0%);
	animation: pulse 2s infinite 0.5s;
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}

	70% {
		transform: scale(0.97);
	}

	100% {
		transform: scale(1);
	}
}