
.tepache-game-server-controller__wrapper {
    position: relative;
    width: 100%;
}

.tepache-game-server-controller__image {
    filter: hue-rotate(90deg);
    height: inherit;
    width: inherit;
    position: absolute;
    top: 0;
    left: 0;
	transform: scale(1);
	animation: pulse 3s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
	}

	70% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.95);
	}
}