
.tepache-game-server-controller__wrapper {
    position: relative;
    width: 100%;
}

.tepache-game-server-controller__image {
	filter: hue-rotate(135deg);
    height: inherit;
    width: inherit;
    position: absolute;
    top: 0;
    left: 0;
	transform: scale(1);
	animation: pulse 3s infinite 2s;
	transition: filter 1s ease-out;
}

.tepache-game-server-controller__image--invisible {
	opacity: 0;
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}

	70% {
		transform: scale(0.95);
	}

	100% {
		transform: scale(1);
	}
}