.tepache-welcome__controller {
    cursor: not-allowed;
    animation: live 6s;
    height: 10rem;
}

@keyframes live {
	0% {
        filter: grayscale(100%);
	}

	100% {
        filter: grayscale(0%);
	}
}