@import 'bootstrap';

.tepache-live-screen-v2 {
    --bs-border-color: rgba(255, 255, 255, 0.1);
}

.tepache-live-screen-v2__thumbnail {
    width: 4rem;
    height: 4rem;
    overflow: hidden;
}

.tepache-live-screen-v2__controller {
    width: 300px;
    right: 15px;
    position: absolute;
    top: 0;
    z-index: 1000;
    transition: width 1s ease-in-out;
    cursor: pointer;
}

.tepache-live-screen-v2__controller--enlarged {
    width: 100%;
}

@include media-breakpoint-down(md) {
    .tepache-live-screen-v2__controller {
        width: 150px;
    }

    .tepache-live-screen-v2__controller--enlarged {
        width: 100%;
    }
}