.tepache-live-screen {

}

.tepache-live-screen__chat {
    max-height: 300px;
    overflow-y: scroll;
}

.tepache-live-screen__client-controller-container {
}

.tepache-live-screen__controller-container {
    height: 200px;
    position: relative;
}
