@import 'bootstrap';

.tepache-chat {
    --bs-border-color: rgba(255, 255, 255, 0.1);
    max-height: 720px;
}

@include media-breakpoint-down(md) {
    .tepache-chat {
        max-height: 340px;
    }
}

.tepache-chat__message-container {
    overflow-y: scroll;
}

.tepache-chat__message-list-group {
    --bs-list-group-bg: var(--bs-dark);
}

.tepache-chat__message-list-item {
    --bs-list-group-border-width: 0;
    --bs-list-group-color: var(--bs-white-rgb);
    --bs-list-group-bg: var(--bs-dark);
    --bs-list-group-item-padding-y: 0;
    --bs-list-group-item-padding-x: 0;
    line-height: 1.5em;
}

.tepache-chat__message-list-item:hover {
    background:rgba(0, 0, 0, 0.1);
}