{{page-title 'About'}}
<div class="container">
  <div class="jumbotron mt-5 p-5 bg-white">
    <p class="lead">
      Tepache Mode is a platform for streaming and interacting with physical 
      video game consoles via crowd-sourced input.

      It will be made available through this website August 19th - 21st 2022 
      at
      <a href="https://www.magwest.org/">
        MAGWest.
      </a>
    </p>
  </div>
</div>