{{page-title 'About'}}
<div class="container">
  <div class="jumbotron p-3 bg-white jumbotron-fluid">
    <h1 class="display-6">About Tepache Mode</h1>
    <div class="row">
      <p class="">
        Tepache Mode is a platform for streaming and controlling physical 
      video game consoles via crowd-sourced input.
      </p>
      <p>
        Think
        <strong>
          Twitch Plays Pokémon
        </strong>
      </p>
    </div>
    <hr />
    <div class="row">
      <img
        alt="Protruding wires next to Super Nintendo Entertainment System (all rights reserved)"
        src="/allthewires.jpg"
      />
    </div>
    <hr />
    <div class="row">
      <p class="lead">
        Tepache Mode is NOT affiliated with, nor authorized, endorsed, or 
      licensed in any way by Nintendo Corporation, its affliates or subsidiaries. 
      Super Nintendo® is a registered trademark of Nintendo Corporation. 
      All trademarks are property of their respective holders.
      </p>
    </div>
  </div>
</div>