{{page-title 'About'}}
<div class="container">
  <div class="jumbotron p-3 bg-white jumbotron-fluid">
    <h1 class="display-6">
      About Tepache Mode
    </h1>
    <div class="row">
      <p class="">
        Tepache Mode is an chat application wrapping a real Super Nintento sitting in a box in Berkeley, California. It
        is
        <strong>not</strong> an emulator.
      </p>
    </div>
    <hr />
    <div class="row">
      <img alt="Protruding wires next to Super Nintendo Entertainment System (all rights reserved)"
        src="/allthewires.jpg" loading="lazy" />
    </div>
    <hr />
    <div class="row">
      <p class="lead">
        Tepache Mode is NOT affiliated with, nor authorized, endorsed, or
        licensed in any way by Nintendo Corporation, its affliates or subsidiaries.
        Super Nintendo® is a registered trademark of Nintendo Corporation.
        All trademarks are property of their respective holders.
      </p>
    </div>
  </div>
</div>