{{page-title 'Credits'}}
<div class="tepache-mode-credits bg-white">
  <div class="card border-0">
    <div class="card-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-auto">
            <img
              alt="Alec's face"
              class="tepache-mode-credits__artist-profile-image"
              src="/credits/alec.jpg"
            />
          </div>
          <div class="col-8 mt-2">
            <h4>
              Lead Artist
            </h4>
            <p class="lead text-justify">
              <p>
                Alec Asperslag makes art and sometimes other things.
A piece of Alec's soul was once locked into a puppet (is it still there?).
Alec lacks the ability to self-describe.
Find Alec on twitter or ArtStation.
              </p>
              <p>
                <a href="https://twitter.com/asperslaga">
                  https://twitter.com/asperslaga
                </a>
              </p>
              <p>
                <a href="https://www.artstation.com/aaspersl">
                  https://www.artstation.com/aaspersl
                </a>
              </p>
            </p>
          </div>
        </div>
      </div>
    </div>
    <hr />
  </div>
  <div class="card border-0">
    <div class="card-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-auto">
            <img
              alt="Kelsey's face"
              class="tepache-mode-credits__artist-profile-image"
              src="/credits/kelsey.jpg"
            />
          </div>
          <div class="col-8 mt-2">
            <h4>
              Artist
            </h4>
            <p class="lead text-justify">
              <p>
                Kelsey Clarke paints, draws, and makes ice cream. 
      Kelsey likes to surround herself with dumb, sentient things. Kelsey has two cats and a boyfriend who all live in a big, dumb apartment in San Francisco. 
      Find Kelsey on Instagram.
              </p>
              <p>
                <a href="https://www.instagram.com/kelseyclarkeart/">
                  https://www.instagram.com/kelseyclarkeart/
                </a>
              </p>
            </p>
          </div>
        </div>
      </div>
    </div>
    <hr />
  </div>
  <div class="card border-0">
    <div class="card-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-auto">
            <img
              alt="Roberto's face"
              class="tepache-mode-credits__artist-profile-image"
              src="/credits/roberto.jpg"
            />
          </div>
          <div class="col-8 mt-2">
            <h4>
              Programmer
            </h4>
            <p class="lead text-justify">
              <p>
                Roberto Rodriguez used to make pasta on the weekend. He likes to 
              hack air conditioners and consoles. Roberto can be found in San Francisco with his girlfriend, cats, and Roomba. Find Roberto on his website since he deleted everything else.
              </p>
              <p>
                <a href="https://roberto-rodriguez.com">
                  https://roberto-rodriguez.com
                </a>
              </p>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>