<div class="jumbotron jumbotron-fluid text-white p-4 text-center">
  <h2 class="display-4">
    MAGWEST 2022
  </h2>
  <p class="lead">
    Coming to San Jose August 19 - 21st
  </p>
  <hr class="my-4" />
  <p class="display-4 text-warning">
    Expect live play then!
  </p>
  <div class="mt-4">
    <div class="d-inline mx-auto">
      <BsTooltip @placement="top">
        Disabled
      </BsTooltip>
      <BsButton
        @type="secondary"
        @size="lg"
        disabled={{true}}
        @onClick={{this.submit}}
      >
        PLAY
      </BsButton>
    </div>
  </div>
</div>