{{page-title 'Privacy'}}
<div class="container">
  <div class="jumbotron mt-5 p-5 bg-white jumbotron-fluid">
    <p class="lead">
      This website is not yet protected by a privacy policy. Information collected 
    through this website is used only for debugging purposes during development. 
    Any information collected is not shared with any third parties outside an 
    associated Google Analytics account which will be purged after the website is marked live.
    </p>
  </div>
</div>