{{page-title 'Privacy'}}
<div class="container">
  <div class="jumbotron p-3 bg-white jumbotron-fluid">
    <h1 class="display-6">Your privacy</h1>
    <p class="lead">
    Information collected through this website is used purely for debugging and abuse prevention during development. 
    For that reason your IP address may be recorded if abuse is suspected.
    </p>
    <p class="lead">
          Any additional information is provided to a single third-party service, Google Analytics, for the purpose of tracking website usage.
    </p>
    <p>
      Please do not provide sensitive information to us voluntarily or by request. We are not responsible for any information you provide to us and we will 
      never request sensitive information from you beyond what this privacy policy explicitly states.
    </p>
    <p class="lead">
      If you're interested in how your information is recorded and preserved on this website per visit, please see our <LinkTo @route="authenticated.base.cookie-policy">
        cookie policy
    </LinkTo>
    </p>
  </div>
</div>