{{page-title 'Privacy'}}
<div class="container">
  <div class="jumbotron mt-5 p-5 bg-white jumbotron-fluid">
    <p class="lead">
      This website is not yet protected by a privacy policy. Information collected 
    through this website is used purely for debugging purposes during development. 
    Information collected is not shared with any third parties outside an 
    associated Google Analytics account which is purged regularly.
    </p>
    <p class="">
      Please do not provide sensitive information to this website.
    </p>
  </div>
</div>