<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-7">
            <div class="jumbotron">
                <h2 class="display-4">
                    MAGWEST 2022
                </h2>
                <p class="lead">August 19 - 21st</p>
                <hr class="my-4">
                <p class="display-4 text-warning">
                    Play will go live August 19th
                </p>
                <div class="mt-4">
                    <BsButton @type="success" @size="lg" disabled={{true}} @onClick={{this.submit}}>Play</BsButton>
                </div>
            </div>
        </div>
    </div>
</div>