{{page-title 'Play'}}
<div class="container justify-content-center py-5">
  <TepachePlayerEnterForm
    @playerSessionModel={{@model.playerSession}}
    @gameSessionModel={{@model.gameSession}}
    @onSubmit={{this.submit}}
  />
</div>