<div class="tepache-mode-base text-dark mb-5">
  <BsNavbar @type="dark" @backgroundColor="dark" as |navbar|>
    <LinkTo @route="authenticated.base.index" class="navbar-brand">
      <img
        class="tepache-mode-base__icon"
        alt="painting of rotting pineapple character"
        title="Rotting pineapple"
        src="/its-tepache-bb.png"
      />
    </LinkTo>
    {{#if this.identifiedUser.user}}
      <BsButton
        @type="dark"
        class="ml-auto"
        {{on 'click' this.invalidateSession}}
      >
        Logout
      </BsButton>
    {{/if}}
    <navbar.toggle />
    <navbar.content>
      <navbar.nav as |nav|>
        <nav.item>
          <LinkTo @route="authenticated.base.games" class="nav-link">
            Games
          </LinkTo>
        </nav.item>
      </navbar.nav>
    </navbar.content>
  </BsNavbar>
  <main class="container-fluid">
    {{outlet}}
  </main>
  <footer class="footer fixed-bottom">
    <BsNavbar
      @type="light"
      @backgroundColor="light"
      @toggleBreakpoint={{null}} as |navbar|
    >
      <LinkTo
        @route="authenticated.base.index"
        class="navbar-brand d-none d-sm-block"
      >
        Tepache Mode
      </LinkTo>
      <navbar.content>
        <navbar.nav as |nav|>
          <nav.item>
            <nav.link-to @route="authenticated.base.about" class="nav-link">
              About
            </nav.link-to>
          </nav.item>
          <nav.item>
            <LinkTo @route="authenticated.base.credit" class="nav-link">
              Credits
            </LinkTo>
          </nav.item>
          <nav.item>
            <LinkTo @route="authenticated.base.terms" class="nav-link">
              Terms
            </LinkTo>
          </nav.item>
          <nav.item>
            <nav.link-to @route="authenticated.base.privacy" class="nav-link">
              Privacy
            </nav.link-to>
          </nav.item>
        </navbar.nav>
      </navbar.content>
    </BsNavbar>
  </footer>
</div>