{{page-title 'Tepache Mode'}}
<div class="tepache-application">
  <div class="tepache-mode">
    <TepacheErrorAlert @message="{{this.errorMessage}}" />
    {{#if this.loading}}
      <div class="container">
        <span class="align-middle spinner-border mx-auto" role="status"></span>
      </div>
    {{else}}
      {{outlet}}
    {{/if}}
    {{#unless this.cookieConsent.exists}}
      <TepacheCookieConsentBanner />
    {{/unless}}
  </div>
</div>