<div class="ember-view">
  {{page-title "Tepache Mode"}}

  <div class="tepache-mode">
    {{#if this.loading}}
      <div class="spinner-border" role="status">
      </div>        
    {{else}}
      {{outlet}}
    {{/if}}
  </div>
</div>