<div class="ember-view">
  {{page-title 'Tepache Mode'}}
  <div class="tepache-mode mb-5">
    <TepacheErrorAlert @message="{{this.errorMessage}}" />
    {{#if this.loading}}
      <div class="container">
        <span class="align-middle spinner-border mx-auto" role="status"></span>
      </div>
    {{else}}
      {{outlet}}
    {{/if}}
  </div>
</div>